<div class="container-fluid navy p-3">
  <div class="row">
    <div class="col-md-4 text-left text-light">
      <h2 class="fw-bold">FashonApp</h2>
      <p>
        Need to buy new and modern products ? FashionApp will help you , need to
        make your fit and custom T-Shirt, dress or your custom suit , also
        Khyatapp will help you
      </p>
    </div>

    <div class="col-md-4 text-left text-light">
      <h2 class="fw-bold">Important links</h2>
      <ul>
        <li><a>FAQ</a></li>
        <li><a>Services</a></li>
        <li><a>Custom product</a></li>
      </ul>
    </div>

    <div class="col-md-4 text-left text-light">
      <h2 class="fw-bold">Contact us</h2>
      <p>Address go here</p>
      <p>Phone :</p>
      <p>
        Phone1 go here <br />
        Phone2 go here
      </p>
    </div>
  </div>
</div>
