<div class="banner"></div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h5 class="product-name">Cart Items</h5>
    </div>
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Product</th>
                <th scope="col">Quantity</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let cart_products of Products; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>
                  <div class="d-inline-block">
                    <div *ngIf="cart_products.categoryImage == null">
                      <img
                        class="category-image"
                        src="../../../../assets/no-categories.png"
                      />
                    </div>
                    <div *ngIf="cart_products.image != null">
                      <img
                        class="category-image"
                        [src]="image_url + cart_products.image"
                      />
                    </div>
                    <!-- <img
                      src="../../../assets/product-image-placeholder.jpg"
                      alt="prod_img"
                      width="102"
                      height="102"
                      class="detaild-img"
                    /> -->
                  </div>
                  <div class="d-inline-block">
                    <p class="fw-bold">{{ cart_products.name }}</p>
                    <p class="fw-bold">{{ cart_products.details }}</p>
                    <p class="fw-bold">{{ cart_products.price }} LE</p>
                  </div>
                </td>
                <td>{{ cart_products.quantity }}</td>
              </tr>
            </tbody>

            <tfoot>
              <h3>Total cart price : {{ TotalPrice }} LE</h3>
            </tfoot>
          </table>
        </div>

        <div class="row p-3">
          <div class="col-md-12 text-center">
            <button class="btn btn-success">Proceed to checkout</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
