<div class="container-fluid p-5 bg">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>You're in good company.</h1>
      <h5 class="mt-3">
        We love our customers, and they seem to love us right back. Find out
        what they've got to say about us.
      </h5>
    </div>

    <div class="col-md-12 text-center mt-5">
      <h5>
        This was my first purchase from Tailor Store and will not be my last. I
        purchased a two piece suit. Due to my poor measuring skills the Jacket
        was slightly off in the sleeves and the waist. But Tailor Store customer
        service went way beyond what I expected, Their very knowledgeable staff
        didn't waste any time making it right. They gave me a enough store
        credit to cover the full cost of the new jacket. The material is of high
        quality and the craftsmanship is excellent. They all so kept me involved
        in the entire process of the suit. From start to finish, I highly
        recommend Tailor Store to any one looking for a hand made suit at a
        decent price.
      </h5>
    </div>
  </div>
</div>
