<div class="container-fluid">
  <div class="row w-100">
    <div class="col-12">
      <h5 class="text-center catogries p-3">Our Products Sample</h5>
    </div>
  </div>

  <div class="row w-100 justify-content-center">
    <div class="col-md-12" *ngIf="ParsedProductsArray.length == 0">
      <div class="alert alert-warning" role="alert">
        There is no products added
      </div>
    </div>
  </div>
  <div class="row w-100 justify-content-center">
    <div class="col-md-4" *ngFor="let product of ParsedProductsArray">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img
              *ngIf="product.image == null"
              src="../../../assets/product-image-placeholder.jpg"
              alt="Avatar"
              style="width: 300px; height: 300px"
            />

            <img
              *ngIf="product.image != null"
              [src]="image_url + product.image"
              alt="Avatar"
              style="width: 300px; height: 300px"
            />
          </div>
          <div class="flip-card-back">
            <h1>{{ product.name }}</h1>
            <p>{{ product.details }}</p>
            <div class="row justify-content-center mt-4 p-7">
              <div class="col-md-6">
                <button
                  class="details-button w-100 btn btn-dark btn-group-lg"
                  (click)="ShowDetails(product.id)"
                >
                  Details
                </button>
              </div>

              <div class="col-md-6">
                <button
                  class="details-button w-100 btn btn-dark btn-group-lg"
                  (click)="AddToFavoraits(product.id)"
                >
                  Add to favorait
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
