<div class="container-fluid">
  <div class="row p-4">
    <div class="col-md-6">
      <img src="../../../../assets/tailor-store-designer-2021.png" />
    </div>

    <div class="col-md-6 text-left p-5">
      <h1>Clothing made for you</h1>
      <p class="clothing-text">
        Say goodbye to mass-produced clothing and hello to clothing made by you,
        for you. We make sure you feel as good as you look wearing
        custom-tailored clothing true to your unique fit and style. Don’t let
        your clothing decide who you are; decide it for yourself.
      </p>
    </div>
  </div>

  <div class="row p-4">
    <div class="col-md-6 text-left p-5">
      <h1>Advanced technology</h1>
      <p class="clothing-text">
        We like to describe ourselves as a tech company that does custom
        clothing. Using advanced technology and algorithms, we provide you with
        the fit of a lifetime.
      </p>
    </div>

    <div class="col-md-6">
      <img
        src="https://images.tailorstore.com/YToyOntzOjU6IndpZHRoIjtzOjQ6IjE1MDAiO3M6NjoiaGVpZ2h0IjtzOjA6IiI7fQ%3D%3D/images/cms/TS-exploded_shirt.jpg"
      />
    </div>
  </div>

  <div class="row p-4">
    <div class="col-md-6">
      <img
        src="https://images.tailorstore.com/YToyOntzOjU6IndpZHRoIjtzOjQ6IjE1MDAiO3M6NjoiaGVpZ2h0IjtzOjA6IiI7fQ%3D%3D/images/catalog/tailor-store-custom-vs-massproduction.jpg"
      />
    </div>

    <div class="col-md-6 text-left p-5">
      <h1>A smarter choice</h1>
      <p class="clothing-text">
        We’re far from an ordinary clothing company. We only produce by order
        and keep no inventory, resulting in less waste and excessive production.
        We take pride in fully owning and operating our facilities, ensuring
        responsible and fair production.
      </p>
    </div>
  </div>
</div>
