<div class="container p-3 mt-3">
  <div class="row">
    <div class="col-md-4">
      <div class="card card-new" (click)="ShowYourProfile()">
        <div class="card-body">
          <h3 class="text-center">Profile <i class="fas fa-user"></i></h3>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card card-new" (click)="ShowOrders()">
        <div class="card-body">
          <h3 class="text-center">
            Orders <i class="fas fa-cart-arrow-down"></i>
          </h3>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card card-new" (click)="ShowWishList()">
        <div class="card-body">
          <h3 class="text-center">Wishlist <i class="fas fa-heart"></i></h3>
        </div>
      </div>
    </div>
  </div>

  <!-- here is the section needed to show profile section-->
  <div class="row p-3 mt-3" *ngIf="ShowProfileDataBool">
    <div class="col-md-12">
      <div class="card profile-card">
        <div class="card-body">
          <h3 class="text-center fw-bold profile-label">Profile Data</h3>
          <div class="row justify-content-center">
            <div class="col-md-4">
              <h5>Full name {{ FullName }}</h5>
            </div>

            <div class="col-md-4">
              <h5>Phone {{ AllUserData.phone }}</h5>
            </div>

            <div class="col-md-4">
              <h5>Email {{ AllUserData.email }}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- here is the section needed to show orders section-->
  <div class="row p-3 mt-3" *ngIf="ShowOrdersDataBool">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body" *ngIf="AllOrders.length == 0">
          <div class="alert alert-warning">
            <h4 class="text-center fw-bold">{{ NoOrders }}</h4>
          </div>
        </div>
        <div class="card-body" *ngIf="AllOrders.length > 0">
          <h3 class="text-center wishlist-title">My orders</h3>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Order Quantity</th>
                <th scope="col">Total price</th>
                <th scope="col">Product name</th>
                <th scope="col">Product Price</th>
                <th scope="col">Product quantity</th>
                <th scope="col">Options</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let order of AllOrders; let i = index">
                <td>
                  {{ i + 1 }}
                </td>

                <td>
                  {{ order.products[0].quantity }}
                </td>

                <td>{{ order.totalPrice }}</td>

                <td>{{ order.products[0].name }}</td>
                <td>{{ order.products[0].price }}</td>
                <td>{{ order.products[0].quantity }}</td>

                <td>
                  <button
                    class="btn btn-danger fw-bold"
                    (click)="CancelOrder(order.id)"
                  >
                    <i class="fa fa-trash trash-icon"></i>Cancel Order
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- here is the section needed to show whishlist section-->
  <div class="row p-3 mt-3" *ngIf="ShowWishListDataBool">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body" *ngIf="AllFavoraits.length == 0">
          <div class="alert alert-warning">
            <h4 class="text-center fw-bold">{{ NoWishList }}</h4>
          </div>
        </div>
        <div class="card-body" *ngIf="AllFavoraits.length > 0">
          <h3 class="text-center wishlist-title">My WishList</h3>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Product name</th>
                <th scope="col">Info</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Options</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let fav of AllFavoraits; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ fav.name }}</td>
                <td>{{ fav.details }}</td>
                <td>{{ fav.price }} LE</td>
                <td>{{ fav.quantity }}</td>
                <td class="justify-content-between">
                  <button
                    class="btn btn-outline-danger"
                    (click)="RemoveItem(i)"
                  >
                    Delete
                  </button>
                  <button
                    class="btn btn-outline-success opts-buttons"
                    (click)="AddToCart(fav.id)"
                  >
                    Add to cart
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
